.header-section {
    width: 120rem;
    height: 38rem;
    background-color: black;

}

.text-color {
    font-size: 5rem;
    color: orangered;
}



body {
    background-color: rgba(0, 0, 0, 0.918);
}

.hr-color {
    margin-top: 10rem;
    color: azure;
}



footer {
    background-color: black;
    color: rgb(198, 157, 236);
    height: 10rem;

}