.header-section {
    width: 1440px;
    height: 481px;
    background-color: black;
    margin-left: 220px;

}

.text-color {
    font-size: 5rem;
    color: orangered;
}



body {
    background-color: rgba(0, 0, 0, 0.918);
}

.hr-color {
    margin-top: 10rem;
    color: azure;
}



footer {
    background-color: black;
    color: rgb(198, 157, 236);
    height: 10rem;

}